:root{
    --color-fondo1: #f0f4ff;
    --color-fondo2: #d9e4ff;
    --color-fondo3: #b0c8ff;
    --color-texto: #333333;  
}
body { 
    font-family: Arial, sans-serif; 
    margin: 20px; 
}

.logo{
    width: 50px;
    height: auto;

}
button { 
    margin: 5px; 
    padding: 8px 12px;
    border-radius: 6px; 
    border: none; 
    background: #1e88e5; 
    color: white; 
    cursor: pointer;
    box-shadow: 15px black;
    
}
button:hover { 
    background: #1565c0; 
}
.divs {
    margin-top: 10px; 
    padding: 10px;  
    border-radius: 8px; 
}


.contenedor_1{
    width: 100vh;
    margin: 0  auto;
}