body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a0d1bf  ;
    }
    
    form{
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 340px;
    background-color: #959ec8;
    }

    form h2{
    color: #14F9A6;
    font-size: 25px;
    }

    .form-txt {
    display: flex;
    justify-content: space-between;
}

.form-txt a {
    color: #000000;
    text-decoration: none;
    font-size: 15px;
    margin-bottom: 25px;

}

.form-txt a:hover {
color: #14F9A6;
}

.input-group {
    display: flex;
    flex-direction: column;
}

input , textarea{
    background-color:#95a4a9 ;
    padding: 20px 14px;
    margin-bottom: 25px;
    border: 0;
    border-radius: 10px;
    font-size: 15px;
    color: black;
}

::placeholder {
color: #000000;
font-size: 15px;
}

:focus {
    outline: 1px solid #14F9A6;
}

.btn {
    background-color: #5AE36D;
    color: #000000;
    font-size: 17px;
    cursor: pointer;
}